

<div class="row category-title">
	<div class="col-md-6">


	</div>
</div><!--category-title -->
<div class="row category-content">
	<div class="col-md-12">
		
		<table class="table table-hover">
			<tr>
				<th>Topic</th>
				<th>Category</th>
				<th>Users</th>
				<th>Replies</th>
				<th>Views</th>
				<th>Activity</th>
			</tr>
			<tr>
				

			</tr>

		</table>
	</div><!-- col-md-12 -->
</div><!-- category-content -->


