
// $('#show-check').html("<p>you've created one comment</p>").css({ backgroundColor: '#ffff99' });


// $('.article-comments .comments').html("<p>334</p>")
$('.article-comments .comments').html("<%= j (render :partial => 'article_comments', :locals => {:comments => @comments,:comment=>@comment,:article=>@article}) %>")
$('.article-comments .comments .notice').text("<%=@notice%>")





