

<table>
	<tr><td>Total users</td><td><%=@total_users%></td></tr>
	<tr><td>Total articles</td><td><%=@total_articles%></td></tr>
	<tr><td>Total comments</td><td><%=@total_comments%></td></tr>
</table>


