<h1>New Article</h1>

<%= form_for @new_article, :url=>articles_path do |form| %>

	<%= render :partial => "post_form", :locals =>{:form=>form}%>
	<%= form.submit "Post", :class=>"btn btn-info"%>
	<%= link_to "Home", articles_path,:class=>"btn btn-default"%>
<% end %>

