

.gg {
	background-color: green;
}

.rr {
	background-color: red;
}


/*nav item*/

.nav-top {
	width:100%;
	height: 50px;
	padding-left:10%;
	padding-right:10%;
	background-color: black;
}

.nav-top-home{
	padding-top:10px;
	width:10%;
	font-size:1.3em;
	float: left;
}

.nav-top-home a{
	color:white;
}

.nav-top-about{
	padding-top: 18px;
	width:10%;
	color:white;
	font-size:0.8em;
	float: left;
}

.nav-top-about a{
	color:white;
}

.nav-top-message{
	width:400px;
	margin-left:30px;
	float:left;
}

.nav-top-message-notice{
	color:#5f5;
	font-size: 1.2em;
}



.nav-top-user{
	margin-top:5px;
	font-size:1.2em;
	float:right;
}

.nav-top-user a{
	color:white;
}



/*nav category*/

.nav-category{
	width:100%;
	padding-left:10%;
	padding-right:10%;
	height:40px;	
	margin-bottom: 30px;
	background-color: #eee;
	border-bottom: #999;
}

.nav-category ul{
	margin-top: 20px;
	margin-right: 10px;
	width:auto;
	float:right;
}


.nav-category li{
	list-style: none;
	float:left;
	display: inline-block;
	margin-top: -5px;
	margin-right: 0px;
	width:80px;
	font-size: 0.9em;
	text-align: center;
}

.nav-category a{
	color:#bbb;
}

.nav-category a:hover{
	text-decoration: none;
	color:#f19;
}

.nav-category-hightlighted a{
	color: red;
}




/* article index */
.article-title{
	margin-top:20px;
	margin-bottom: 20px;
	height:40px;
}

.article-content{
	
}


/* article index html*/

.article-content-table-index{width:3%;}
.article-content-table-topic{width:40%;}
.article-content-table-category{width:20%;}
.article-content-table-post-date{width:12%;}
.article-content-table-post-user{width:12%;}
.article-content-table-comment{width:10%;}
.article-content-table-views{width:10%;}



/* show html*/
.article-show-info{
	border-bottom: 1px solid #eee;
}

.article-show-info-poster{
	width: 200px;
}

.article-show-info-favorite{
	width: 200px;
}


.article-show-content{
	margin-top:20px;
	margin-bottom: 40px;
	padding-left:10px;
	padding-right:10px;
	min-height:200px;
	border: 1px solid #aaa;
}


.article-show-comment{
	min-height: 400px;
}

.article-show-comment-title{
	width:40px;
}

.article-show-comment-reply{
	width:100px;

}

.article-show-comment-title{
	height:70px;
}

.article-show-comment-title-word{
	width:200px;
}

.article-show-comment-post{
	width:70%;
	margin-left:auto;
	margin-right: auto;
	height:300px;
}

.article-show-comment-post-input{
	width:100%;
	height:100px;
}

.article-show-comment-post-submit{
	width:60px;
	float:right;
}





/* User show html */
.user-show-favorite-table{
	width:100%;
}

.user-show-favorite-table-index{
	width:5%;
}

.user-show-favorite-table-title{
	width:30%;
}

.user-show-favorite-table-poster{
	width:20%;
}

.user-show-favorite-table-comment{
	width:10%
}

.user-show-favorite-table-update{
	width:15%;
}

.user-show-favorite-table-remove{
	width:15%;
}

.user-show-draft-index{
	width: 10%;
}

.user-show-draft-title{
	width: 45%;
}

.user-show-draft-category{
	width: 30%;
}

.user-show-draft-category ul{
	padding-left: 0px;
}

.user-show-draft-category li{
	float: left;
	list-style: none;
}

.user-show-draft-update{
	width: 20%;
}

.user-show-post{
	padding-left: 0px;
}

.user-show-post-table{
	width:100%;
}

.user-show-post-table-title{
	width:5%;
}
.user-show-post-table-title{
	width: 50%;
}

.user-show-post-table-comment{
	width:10%;
	text-align: center;
}

.user-show-post-table-update{
	width:35%;
	text-align: center;
}


.user-show-comment-table-index{
	width:5%;
	height: 40px;
}

.user-show-comment-table-article{
	width: 30%;
}
.user-show-comment-table-content{
	width: 30%;
}

.user-show-comment-table-update{
	width: 25%;
}	


/*article new, edit */

.article-edit-message-published{
	font-size: 0.8em;
	color: #3aa;
}

.article-edit-message-draft{
	font-size: 0.8em;
	color: blue;
}

.article-form-table{
	margin-top: 40px;
}

.article-form-category-item{
	width:100px;
	font-size:1.2em;
}


.article-form-category-input{

}

.article-form-category-input input[type='text']{
	width:300px;
	margin-bottom: 20px
}

.article-form-category-input label{
	margin-left: 5px;
	margin-right: 20px;
	font-size:1.1em;
	padding-top:-5px;
	padding-bottom: 10px;
}

.article-form-category-input input[type='checkbox']{
	width:13px;
	height: 13px;
}


.article-form-category-input textarea{
	margin-top:10px;
	width:300px;
	height:200px;
}


