

.gg {
	background-color: green;
}

/*nav item*/
.nav-category {
	height: 50px;
	width:100%;
	background-color: black;
}

.nav-category-content ul{
	margin-right: 200px
}

.nav-category-content li{

	list-style: none;
	float:right;
	margin-top: 10px;
	margin-right: 20px;
	font-size: 1.2em;
}

.nav-category-content a{
		color:white;
}

.nav-category-content a:hover{
		text-decoration: none;

}

/*nav user*/
.nav-user {
	height:60px;
	background-color: #777;
	border-bottom: #999;
}

.nav-user-active_category{
	width:30%;
	margin-left:10%;

}

.nav-user-info{
	width:30%;
	margin-right:10%;
	margin-top:15px;
	font-size:1.2em;
}


.article-title{
	height:40px;
}

.article-content{
	
}


/* article index html*/

.article-content-table-index{width:3%;}
.article-content-table-topic{width:47%;}
.article-content-table-post-date{width:15%;}
.article-content-table-post-user{width:15%;}
.article-content-table-comment{width:10%;}
.article-content-table-views{width:10%;}



/* show html*/
.article-show-info{
	border-bottom: 1px solid #eee;
}


.article-show-content{
	margin-top:20px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom: 40px;
	min-height:200px;
	border: 1px solid #aaa;
}


.article-show-comment{
	min-height: 400px;
}

.article-show-comment-title{
	width:40px;
}

.article-show-comment-reply{
	width:100px;

}

.article-show-comment-title{
	height:70px;
}

.article-show-comment-title-word{
	width:200px;
}

.article-show-comment-post{
	width:70%;
	margin-left:auto;
	margin-right: auto;
	height:300px;
}

.article-show-comment-post-input{
	width:100%;
	height:100px;
}

.article-show-comment-post-submit{
	width:60px;
	float:right;
}






