

.gg {
	background-color: green;
}

.rr {
	background-color: red;
}


/*nav item*/

.nav-box {
	width: 100%;
	height: 50px;
	float: left;

	background-color: black;
}

.nav-top {
	min-width:1000px;
	width:80%;
	height: 50px;
	margin-left: 10%;
	margin-right: 10%;
}

.nav-top .home{
	padding-top:10px;
	margin-left: 10px;
	width:30px;
	height: 50px;
	font-size:1.3em;
	float: left;
	text-align: center;
}

.nav-top .home a{
	color:white;
}

.nav-top .about{
	padding-top: 10px;
	width:60px;
	height: 50px;
	text-align: center;
	color:white;
	font-size:1.5em;
	float: left;
}

.nav-top .about a{
	color:white;
}

.nav-top .message{
	width:50%;
	min-width:300px;
	max-width:400px;
	height: 50px;
	margin-left:30px;
	float:left;
	text-align: center;
	font-size: 1.2em;
}

.nav-top .message .notice{
	color:#5f5;
}

.nav-top .message .error{
	color:red;
}

.nav-top .user-info{
	float: right;
	overflow: hidden;
}

.nav-top .user{
	width:250px;
	height: 50px;
	margin-left: 20px;
	padding-left:10px;
	padding-top:10px;
	padding-right: 10px;
	font-size:1.2em;
	float: left;
	text-align: right;
}

.nav-top .user a{
	color:white;
}

.nav-top .login{
	padding: 5px;
	width: 200px;
	float: left;
}



.content-body{
	min-width: 1000px;
	width:80%;
	min-height: 500px;
	margin-left: 10%;
	margin-right: 10%;
	float: left;
}

/* articles index */
.content-left{
	min-width:200px;
	width:20%;
	margin-left: 0px;
	margin-right: 0px;
	min-height: 1000px;
	border-bottom: #999;
	float: left;
}

.content-left .do-it{
	min-width: 200px;
	width: 60%;
	height: 160px;
	margin: 0px auto 0px auto;
	padding: 40px 20px 40px 20px;
	text-align: center;
	border-bottom: 1px solid #aaa;
}


.content-left .do-it a{
	color:white;
	display: block;
	margin: 20px auto 20px auto;
	width:150px;
	height: 40px;
	font-size: 1.2em;
}

.content-left .list{
	min-width:200px;
	width:100%;
	margin: 40px auto 40px auto;
}

.content-left .list li{
	list-style: none;
	min-width:140px;
	width:60%;
	margin: 10px auto 10px 10px;
	font-size: 1.4em;
}

.content-left a{
	color:#bbb;
}

.content-left a:hover{
	text-decoration: none;
	color:#f19;
}


.content-left-admin{
	width: 100px;
	font-size: 1.2em;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.content-left-admin a{
	color:white;
}

.content-left .list .separate{
	border-bottom: 1px solid #888;
}

/* content center */

.content-center {
	min-width: 800px;
	width:80%;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 40px;
	background-color: #eee;
	min-height: 1000px;
	float: left;
}

.content-center .devise-box{
	margin: 0 auto;
	width: 50%;

}

.content-center .devise-box .field{
	margin-bottom: 30px;
	overflow: hidden;
}


.content-center .devise-box .field>*{
	width:40%;
	float: left;
}

.content-center .article-title{
	width:400px;
	margin-left:5%;
	margin-bottom: 40px;
}

.content-center .article-content{
	width:90%;
	margin-left:5%;
	margin-right: 5%;	
}

.content-center .article-content .index{
	width:5%;
}

.content-center .article-content .topic{
	width:30%;
}

.content-center .article-content .category{
	width:15%;
}

.content-center .article-content .poster{
	width:20%;
}

.content-center .article-content .date{
	width:20%;
}

.content-center .article-content .comment{
	width:5%;
}

.content-center .article-content .index{
	width:5%;
}


/* user show */
.content-left .do-it p{
	display: block;
}

.content-center .user-info{
	height: 60px;
	width:500px;
	margin-left: 5%;
}

.content-center .user-info>*{
	height: 40px;
	margin: 10px 10px 10px 0px;
	float: left;
}

.content-center .user-info img{
	width:40px;
}

.content-center .user-info h3{
	width:400px;
	padding-top:5px;
}

.content-center .user-content{
	width:90%;
	margin:0 5% 0 5%;
}

.content-center .user-content h4{
	margin-bottom:30px;
}



/* show, new, edit */

.content-center .article-meta{
	width:90%;
	height: 180px;
	margin-left: 5%;
	margin-right: 5%;
	padding: 20px;
	border-bottom: 1px solid #bbb;
}

.content-center .article-meta .info{
	float: left;
	height: 140px;
	width:400px;
}

.content-center .article-meta .edit-it{
	float: right;
	margin-top:100px;
	height: 40px;
	max-width: 300px;
}

.content-center .article-meta .edit-it p{
		margin-left: 10px;
}
.content-center .article-meta .info .title{
	height: 60px;
	margin:0 0 0 10px;
	padding-top:20px;
}

.content-center .article-meta .info .user{
	margin:0 0 0 10px;
	height: 40px;
}

.content-center .article-meta .info .user img{
	height: 30px;
	width:30px;
	margin-top: 5px;
	float: left;
}

.content-center .article-meta .info .user .poster{
	height: 40px;
	width: 300px;
	float: left;
	padding-top: 10px;
	font-size:1.2em;
	color: #999;
	margin-left:20px;
}

.content-center .article-meta .info .status{
	height: 40px;
	margin:0 0 0 10px;
	width: 400px;
}

.content-center .article-meta .edit-it>*{
	float: left;
}


/* new edit */
/* inside content-conter */
.single-article-content{
	width:90%;
	margin-left:5%;
	margin-right: 5%;	
	margin-top: 40px;	
	min-height: 300px;
}

.single-article-content .unit{
	margin-bottom: 20px;
	overflow: hidden;
}

.single-article-content .unit>*{
	float: left;
}

.single-article-content .unit .key{
	width: 100px;
	font-size:1em;
}

.single-article-content .title input[type='text']{
	width:500px;
}

.single-article-content .category input[type='checkbox']{
	margin-left: 10px;
}

.single-article-content .content textarea{
	width:500px;
	height: 400px;	
}



/*show */
/* inside content-conter */
.show-body{
	border: 1px solid #bbb;
	padding-left: 10px;
}

.article-comments{
	width:90%;
	margin-left:5%;
	margin-right: 5%;	
	margin-top: 40px;	
	min-height: 300px;

}


.article-comments table{
	min-height: 200px;
}

.article-comments .table-head{
	height: 30px;
}

.article-comments .no-reply{
	width:200px;
	margin:20px auto 20px auto;
}

.article-comments .post{
	margin-top:40px;
	margin-bottom: 70px;
}

.article-comments .post textarea{
	width:100%;
}

.article-comments .post .done{
	float: right;
}

/* about page */
#about-content{
	background-color: #ece;
}

.content-center .about-box{
	width:90%;
	margin-left:5%;
	margin-right: 5%;	
	margin-top: 40px;	
	min-height: 300px;

}


/* admin */
.content-center .admin-content{
	width:90%;
	margin-left:5%;
	margin-right: 5%;	
	margin-top: 40px;	
	min-height: 500px;

}

.admin-content-left{
	background-color: #119;
}

.admin-content-center{
	background-color: #afa;
}

.admin-content-center .category-table .name{
	width:20%;
}
.admin-content-center .category-table .intro{
	width:40%;
}
.admin-content-center .category-table .creator{
	width:10%;
}
.admin-content-center .category-table .articles{
	width:10%;
}
.admin-content-center .category-table .edit-it{
	width:20%;
}

.admin-content-center .user-profile{
	
}




/* component */
#highlighted{
	color: red;
}



