

.gg {
	background-color: green;
}

/*nav item*/
.nav-item {
	height: 50px;
	width:100%;
	background-color: black;
}

.nav-item-content ul{
	margin-right: 200px
}

.nav-item-content li{

	list-style: none;
	float:right;
	margin-top: 10px;
	margin-right: 20px;
	font-size: 1.2em;
}

.nav-item-content a{
		color:white;
}

.nav-item-content a:hover{
		text-decoration: none;

}

/*nav user*/
.nav-user {
	height:60px;
	background-color: #efe;
	border-bottom: #bbb;
}

.nav-user-info{
	margin-right:250px;
	margin-top:15px;
	font-size:1.2em;
}


.forum-title{
	height:40px;
}

.forum-content{
	
}


/* forum html*/

.forum-content-table-index{width:3%;}
.forum-content-table-topic{width:47%;}
.forum-content-table-post-date{width:15%;}
.forum-content-table-post-user{width:15%;}
.forum-content-table-comment{width:10%;}
.forum-content-table-views{width:10%;}



/* article html*/

.article-content{
	min-height:100px;
}





