<div class="content-left admin-content-left">
	<div class="do-it user-back">
		<%= link_to "Back to Forum",articles_path, :class=>"btn btn-primary" %>

	</div>
	<ul class="list">
		<li><%= link_to "articles", admin_articles_path %></li>
		<li><%= link_to "categories", admin_categories_path %></li>
		<li><%= link_to "users", admin_users_path %></li>
		<!-- <li class='content-left-hightlighted'>".html_safe : "<li>".html_safe%>  -->
	</ul>
</div><!-- content-left -->

